
p{
    color:gray;
}
h1{
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 1999;
    text-align: center;
}
body{
    font-family: 'Karla', sans-serif;
    color:cadetblue;
}
